.genretd{
	vertical-align: top;
}
.genrediv{
	height: 350px;
	overflow: auto;
}

.genreli{
	margin: 1px;
}

.scrollContainer{
	overflow: auto; 
	height:210px;
}
.smallContainer{
	overflow: auto; 
	height:110px;
}
.tlayout{
	table-layout: initial;
	padding:2%;
}

.table-elements{
	padding: 2px;
}
.metadata-control {
	display: block;
	width: 48%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.metadata-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.metadata-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.metadata-control::placeholder {
	color: #6c757d;
	opacity: 1;
}

.metadata-control:disabled, .metadata-control[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

select.metadata-control:not([size]):not([multiple]) {
	height: calc(2.25rem + 2px);
}

select.metadata-control:focus::-ms-value {
	color: #495057;
	background-color: #fff;
} 

html{ 
	height:100%; 
}

body{
	position: relative;
	min-height: 100%;
	padding:0; 
	margin:0; 
}

body::after {
  content: '';
  display: block;
  height: 56px; /* Set same as footer's height */
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
}