.bigWrapper {
    background-color: #ffffff;
}

.headerContainerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: screen;
    height: 500px;
    position: relative;
}

.headerContainerContent {
    color: #1e2123;
    z-index: 20;
}

.headerContainerImage::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1532452119098-a3650b3c46d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1511025998370-7d59f82e9c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1336&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: 10;
}

.informationContainer {
    width: screen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.informationContainer:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.informationContainerChild {
    padding: 40px;
    flex-grow: 1;
    width: 50%;
}

.informationContainerTitle {
    font-weight: 400;
    font-family: sans-serif;
    text-align: right;
    color: #e2001a;
}

.underline {
    position: relative;
    display: block;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -.4em;
    right: 0;
    width: 90px;
    height: 2px;
    background-color: #5c6971;
}