.resultsongdiv{
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin: 2px;
}

.formwrapper{
	float: left;
	width: 45%;
	margin-right: 20px;
}

.resultwrapper{
	overflow: auto;
	float: left;
	width: 45%;
	height: 370px;
	margin-left: 20px;
}

.wholewrapper{
	margin-left: 50px;
	margin-right: 50px;
	height: 400px;
}